{{> header }}

  Hi {{ email }},
  <br><br>
 {{ title }}

  <br>
 {{ emailVerify }}
  <br>
  <br>
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <a href="{{hostDomain}}/join-to-us?token={{token}}" target="_blank">
                            Click
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  </table>

{{> footer }}