{{> header }}

  Hi {{ email }},
  <br><br>

  <br>
 {{ title }}
  <br>
  <br>
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <a href="{{hostDomain}}/reset-password?token={{token}}&email={{email}}]" target="_blank">
                            Click
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  </table>

{{> footer }}